body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navigation-bar{
  background-color: #DB2B39;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 90px;
}

.businessLogo{
  height: 90px;
}

nav ul {
  display: flex;
  margin-right: 10px;
}

nav ul li{
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 150%;
}

.footer{
  background-color: #1E96FC;
}

.footer p{
  color: #fff;
  text-align: center;
}

#topFooter{
  padding-top: 10px;
}

#middleFooter{
  font-style: italic;
  font-weight: bold;
}

#bottomFooter{
  padding-bottom: 10px;
  text-transform: uppercase;
}

a:hover{
  background-color: black;
}

.showcase{
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  width: 100%;
  height: 120%;
}

#slogan{
  grid-column: 1 / -1;
  color: white;
  text-align: center;
  text-decoration: underline;
}

.showcaseItems{
  background-color: white;
  border: 3px black solid;
}

.display{
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.showcaseWriting{
  text-align: center;
  color: black;
  font-weight: bold;
}

.udemyIdea1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  overflow: hidden;
  color: #fff;
}

.facts{
  color: #fff;
  size: 150%;
  text-align: center;
  padding-bottom: 5px;
}

.counter-container{
  background-color: #DB2B39;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
}


.counter{
  color: #fff;
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
}

#dealsdiscounts{
  text-align: center;
  text-decoration: underline;
}

.dealContainers{
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 1rem 1rem;
  

}
.dealCards{
  background-color: #DB2B39;
  border: solid black 2px;
}
.imageDeals{
  width: 300px;
  height: 300px;
}

.dealw{
  color: white;
  text-align: center;
}

